
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.fab{
  padding-top: 9.5px;
}
.btn-social>:first-child{
  width: 40px;
}
.btn-social{
  padding-left: auto;
}
.container{
  max-width: 1300px;
}
